@import "tailwindcss";
@source "../"; /* This forces Tailwind to scan everything in your src folder */

@layer base {
  :root {
    --font-sans: var(--font-inter);
    --font-serif: var(--font-playfair);
  }
}

/* Hide default scrollbars for a premium, app-like feel */
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}